* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --bs-primary: #062e39;
    --bs-primary-rgb: rgb(86, 89, 105);
    --bs-bgg: #FF9A25;
    --bs-bgg-rgb: rgb(255, 154, 37);
    --bs-orange: #fd5523;
}

.page-header {
    position: relative;
    padding: 187px 0 192px;
    z-index: 1;
}

.page-header__bg {
    background-image: url('../img/banner/page-header-bg.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%
}

.page-header__bg,
.page-header__bg::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    color: #fff;
}

.page-header__bg:before {
    background: linear-gradient(90deg, #0d5568 13%, rgba(16, 112, 138, 0.807) 35%, rgba(5, 72, 91, 0.555) 60%, rgba(3, 71, 90, 0.421));
    content: "";
}

.vertical-line {
    border-left: 4px solid var(--bs-orange);
    height: 100px;
    padding-left: 15px;
}

.page-header__inner {
    margin-top: 7rem;
}

.page-header__inner ul li a {
    text-decoration: none;
    color: var(--bs-orange);
}

.about {
    color: var(--bs-primary);
    font-weight: 700;
    margin-top: 30px;
    margin-left: 97px;
    width: 92%;
}

.abt_sec_1 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.line {
    width: 1.5%;
    border: 1px solid var(--bs-orange);
    margin-right: 7px;
    margin-bottom: 4px;
}

.text-large {
    font-size: 3rem;
    line-height: 55px;
}

.abt_content {
    margin-top: 2rem;
    font-style: 2rem;
}

.our_image img {
    width: 70%;
    height: 100%;
}

.box-abt {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
}

.box-1 {
    background: #fff8f8;
    border-left: 3px solid var(--bs-orange);
    padding: 1rem;
    padding-right: 2rem;
    margin-right: 2rem;
    box-shadow: 3px 3px 10px -8px grey;
}

.box-2 {
    background: #fff8f8;
    padding: 1rem;
    padding-right: 2rem;
    border-left: 3px solid var(--bs-orange);
    margin-right: 2rem;
    box-shadow: 3px 3px 10px -8px grey;
}

.achivements{
    color: var(--bs-primary);
    font-weight: 700;
    margin-top: 30px;
    margin-left: 97px;
}

.ach_sec_1 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.btn-orange{
    margin-top: 3rem;
}

.wrapper_abt{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin-top: 3rem;
    margin-bottom: 3rem;
}